<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset='utf-8' />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="KSUBF 포도스탬프 관리">
        <meta name="application-name" content="KSUBF 포도스탬프 관리">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
        <title>KSUBF 포도스탬프 관리</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   </head> 
   <body>
       <div id="header">
                <h1 style=text-align:center;padding-top:2%>포인트 관리 시스템</h1>
                <div class="login_info">
                    {%if userid%}
                    <a href="{{ url_for('edit', userid=userid) }}">{{userid}}</a>
                    {%endif%}
                    <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>
                </div>
           </div>
       </div>
       <div id="body">
        <div class="container my-3">
            <div class="row my-3">
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" id="search_kw" class="form-control" value="{{ kw or '' }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" id="btn_search">찾기</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr class="text-center table-dark">
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>포인트</th>
                </tr>
                </thead>
                <tbody>
                    {% if user_list %}
                    {% for user in user_list.items %}
                    <tr class="text-center">
                        <td>
                            <a href="{{ url_for('detail', userid=user.userid) }}">
                                {{ user.name }}
                            </a>
                        </td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.point }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">회원이 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if user_list.has_prev %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ user_list.prev_num }}" href="javascript:void(0)">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
                </li>
                {% endif %}
                {% for page_num in user_list.iter_pages() %}
                {% if page_num %}
                {% if page_num != user_list.page %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_num }}" href="javascript:void(0)">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
                {% else %}
                <li class="disabled">
                    <a class="page-link" href="javascript:void(0)">...</a>
                </li>
                {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if user_list.has_next %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ user_list.next_num }}" href="javascript:void(0)">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
                </li>
                {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
        </div>
        <form id="searchForm" method="get" action="{{ url_for('admin') }}">
            <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
        </form>
        <script type='text/javascript'>
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchForm').submit();
            });
        });
        function search(){
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
            document.getElementById('searchForm').submit();
        }
        $("#search_kw").keypress(function (f){
            if(f.keyCode == 13){
                search();
            }
        });
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function() {
            search();
        });
        </script>
       </div>
   </body>
</html>
