<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="포도 포인트 랭킹">
    <meta name="application-name" content="포도 포인트 랭킹">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <title>포도 포인트 랭킹</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head> 
<body>
    <div id="header" class="w-100 pt-2 title font-weight-bold fl-left">
        <!-- <button type="button" class="btn btn-outline-secondary" onclick="location.href='javascript:window.history.back()'">뒤로</button> -->
        <div class="col-xs-3 float-left pl-0">
            <button type="button" class="btn txt-purple" onclick="location.href='/admin'">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
            </button>
        </div>
        <div class="col-xs-9 text-center">
            <img src="../static/images/sub_ksubf.png" />
            전체 랭킹
        </div>
        <!-- <div class="login_info">
        {%if userid%}
        <a>{{userid}}</a>
        {%endif%}
    </div> -->
        <!-- <table style="margin-top:2%">
        {% if rank_list1 %}
        {% for rank, user in rank_list1 %}
        {% if user.userid == userid %}
        <tr class="text-center">
            <td>{{ rank+1 }}위</td>
            <td>{{ user.name }}</td>
            <td>{{ user.point }}포인트</td>
            <td>{{ user.attend }}회 출석</td>
        {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">회원이 없습니다.</td>
        </tr>
        {% endif %}
    </table> -->
        <!-- <div class="w-100 txt-purple sub_body mt-4 text-center" style="height: 50px;">
        <div style="margin-top:11px; font-weight: bold;">
        {% if rank_list1 %}
        {% for rank, user in rank_list1 %}
            {% if user.userid == userid %}
            <tr class="text-center">
            <td>{{ rank+1 }}위</td>
            <td>{{ user.name }}</td>
            <td>{{ user.point }}포인트</td>
            <td>{{ user.attend }}회 출석</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">회원이 없습니다.</td>
        </tr>
        {% endif %}
    </div> -->
    </div>
    <div id="body" class="col-12 sub_body" style="margin-top:150px !important;">
        <div class="container">
            <div class="row my-3">
                <div class="col-6">
                    <div class="input-group" style="margin:2%">
                        <input type="text" id="search_kw" class="form-control" value="{{ kw or '' }}">
                        <div class="input-group-append">
                            <button class="btn btn-purple btn-sm font-10" type="button" id="btn_search">검색</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="text-center table-dark font-10">
                        <th>랭킹</th>
                        <th>이름</th>
                        <th>포인트</th>
                        <th>출석수</th>
                    </tr>
                </thead>
                <tbody>
                    {% if rank_list2 %}
                    {% for rank, user in rank_list2 %}
                    {% if user.userid == userid %}
                    <tr class="text-center txt-purple" style="font-size:16pt">
                        {% else %}
                    <tr class="text-center font-10">
                        {% endif %}
                        <td>{{ rank+1 }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.point }}</td>
                        <td>{{ user.attend }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">회원이 없습니다.</td>
                    </tr>
                    {% endif %}
                    </tr>
                </tbody>
            </table>
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if user_list.has_prev %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ user_list.prev_num }}" href="javascript:void(0)">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
                </li>
                {% endif %}
                {% for page_num in user_list.iter_pages() %}
                {% if page_num %}
                {% if page_num != user_list.page %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_num }}" href="javascript:void(0)">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
                {% else %}
                <li class="disabled">
                    <a class="page-link" href="javascript:void(0)">...</a>
                </li>
                {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if user_list.has_next %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ user_list.next_num }}" href="javascript:void(0)">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
                </li>
                {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
        </div>
        <form id="searchForm" method="get" action="{{ url_for('admin') }}">
            <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
        </form>
        <script type='text/javascript'>
            const page_elements = document.getElementsByClassName("page-link");
            Array.from(page_elements).forEach(function (element) {
                element.addEventListener('click', function () {
                    document.getElementById('page').value = this.dataset.page;
                    document.getElementById('searchForm').submit();
                });
            });
            function search() {
                document.getElementById('kw').value = document.getElementById('search_kw').value;
                document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
                document.getElementById('searchForm').submit();
            }
            $("#search_kw").keypress(function (f) {
                if (f.keyCode == 13) {
                    search();
                }
            });
            const btn_search = document.getElementById("btn_search");
            btn_search.addEventListener('click', function () {
                search();
            });
        </script>
    </div>
</body>

</html>