<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <title>KSUBF 포도스탬프 회원가입</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header"class="col-12 pt-2 title font-weight-bold fl-left">
        <div class="col-xs-3 float-left pl-0">
            <button type="button" class="btn txt-purple" onclick="location.href='/'">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
          </button>    
      </div>
      <div class="col-xs-9 text-center">
          <img src="../static/images/sub_ksubf.png"/>
          회원가입  
      </div>
</div>
  <div id="body" class="col-12 sub_body">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <form method="POST" >
                {{form.csrf_token}} <!--csft활성화-->
                {% include "form_errors.html" %}
                <div class="form-group">
                    <label class="font-weight-bold font-10">아이디</label>
                    <input type="text" class="form-control" placeholder="아이디를 입력하시오.">
                    <!-- {{form.userid.label("아이디")}}
                    {{form.userid(class="form-control", placeholder="아이디")}} -->
                </div>
                <div class="form-group">
                    <label class="font-weight-bold font-10">이름</label>
                    <input type="text" class="form-control" placeholder="이름을 입력하시오.">
                    <!-- {{form.name.label("이름")}}
                    {{form.name(class="form-control", placeholder="이름")}} -->
                </div>
                <div class="form-group">
                    <label class="font-weight-bold font-10">연락처</label>
                    <input type="text" class="form-control" placeholder="연락처를 입력하시오.">
                    <!-- {{form.phone.label("전화번호")}}
                    {{form.phone(class="form-control", placeholder="전화번호")}} -->
                </div>
                <div class="form-group">
                    <label class="font-weight-bold font-10">비밀번호</label>
                    <input type="text" class="form-control" placeholder="비밀번호를 입력하시오.">
                    <!-- {{form.password.label("비밀번호")}}
                    {{form.password(class="form-control", placeholder="비밀번호")}} -->
                </div>
                <div class="form-group">
                    <label class="font-weight-bold font-10">비밀번호 확인</label>
                    <input type="text" class="form-control" placeholder="비밀번호를 재입력하시오.">
                    <!-- {{form.password_2.label("비밀번호 확인")}}
                    {{form.password_2(class="form-control", placeholder="비밀번호 확인")}} -->
                </div>
                <button type="submit" class="col-12 btn btn-purple mt-3">제출</button>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>