    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
        <!-- <link rel="stylesheet" type="text/css" href="../static/styles/main.css"> -->
        <title>포도 포인트 적립 시스템</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head> 
    <body>
        <div id="header" class="col-12 pt-2 title font-weight-bold fl-left">
            <div class="col-xs-3 float-left pl-0">
                <button type="button" class="btn txt-purple" onclick="location.href='/admin'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                  </svg>
              </button>    
          </div>
          <div class="col-xs-9 text-center">
              <img src="../static/images/sub_ksubf.png"/>
              회원 상세      
          </div>
      </div> 

      <div id="body" class="col-12 sub_body">
        <div class="container my-3">
            <div class="row">
                <div class="col-12">
                    <form method="POST">
                        <div class="text-center font-weight-bold">
                            <label>{{user.name}}</label><!-- 이름 넣기 -->
                            <label>{{user.userid}}</label> <!-- 아이디 넣기 -->
                        </div>
                        <div>
                            <label class="font-weight-bold font-10">연락처</label>
                            <div class="bd-bottom pb-2">
                                <label class="col-9 p-0" style="border-style: none;">{{user.phone}}</label>
                            </div>
                      </div>
                      <div class="mt-3">
                        <label class="font-weight-bold font-10 pt-2">포인트 적립/누적</label>
                        <div>
                            <button type="button" class="btn" onclick="count('minus')">-</button>
                            <!-- <label id="lb_num">0</label> 적립 표시 -->
                            {{form.csrf_token}}
                            {{form.point(id="lb_num", class="point-form", value=user.point)}}
                            <button type="button" class="btn" onclick="count('plus')">+</button>
                            <label class="px-2 bd-right">{{user.point}}</label>point<!--누적 포인트 표시-->
                        </div>
                    </div>
                    <div>
                        <label class="font-weight-bold font-10 w-100">출석 체크</label>
                        <input type="checkbox" class="mx-2"> <!--체크시 +1-->
                        <label class="px-2 bd-right">{{user.attend}}</label>번 <!--출석수 표시-->
                        <label class="px-2 font-10">date</label> <!--출석 체크일자 표시   //중복 체크 방지 위함-->
                    </div>
                    <div class="mt-3">
                        <label class="font-weight-bold font-10 w-100">열정 온도</label>
                        <input type="range" id="C_Range" min="0" max="100" class="w-25">
                        <span id="Ondo"></span>℃
                    </div>

<!--                         <div class="login_info">
                            {%if userid%}
                            {{userid}}
                            {%endif%}
                            <button type="button" class="btn btn-outline-secondary" onclick="location.href='/logout'">로그아웃</button>
                        </div>
                        {{form.csrf_token}}
                        <div class="form-group">
                            {{form.name.label("이름")}}
                            {{form.name(class="form-control", value=user.name)}}
                            {{form.userid.label("아이디")}}
                            {{form.userid(class="form-control", value=user.userid)}}
                        </div> -->
                        <!-- <div class="form-group">
                            {{form.phone.label("전화번호")}}
                            {{form.phone(class="form-control", value=user.phone)}}
                        </div>
                        <div class="form-group">
                            {{form.point.label("포인트 추가")}}
                            {{form.point(class="form-control", value=user.point)}}
                            {{form.point.label("누적 포인트")}}
                            {{form.point(class="form-control", value=user.tot)}}
                        </div>
                        <div class="form-group">
                            {{form.point.label("출석수")}}
                            {{form.point(class="form-control", value=user.attend)}}
                            {{form.point.label("열정 온도")}}
                            {{form.point(class="form-control", value=user.temp)}}
                        </div> -->
                        <div class="mt-3">
                            <button type="submit" class="btn btn-purple">저장</button>
                            <button type="button" class="btn btn-link text-muted float-right" onclick="location.href='/delete/{{user.userid}}'">회원 탈퇴</button>    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

    function count(type)  {
        const resultElement = document.getElementById('lb_num');

        let number = resultElement.value;

        if(type === 'plus') {
            number = parseInt(number) + 1;
        }else if(type === 'minus')  {
            number = parseInt(number) - 1;
        }

        resultElement.value = number;
    }

    var OndoRange = document.getElementById("C_Range");
    var C = document.getElementById("Ondo");
    C.innerHTML = OndoRange.value;

    OndoRange.oninput = function() { 
         C.innerHTML = this.value;
   }

</script>
</body>
</html>
